# Исключить виртуальное окружение
**/venv/

# Исключить файл .env из всех папок и подпапок
**/.env

# Исключить __pycache__ из всех папок и подпапок
**/__pycache__/

# Исключить файл Команды и ключи.md из всех папок и подпапок
**/Команды и ключи.md
